* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* It gives the background of the page a colour */
body {
    background-color: #d9dcd6;
}

/* The section header has the following styles */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* In the header section, The Title is displayed on the same line */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* The word "seo" from the header section has a font colour */
.header h1 .seo {
    color: #d9dcd6;
}

/* Inside the Section of class header, inside <div>, it has the following styles */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* (.header div ul) was revomed to make the css file easier
/* Inside the section of class header, <li> wil be displayed in the same line */
.header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* The link has colour and no decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/*Font size for the paragraph */
p {
    font-size: 16px;
}

/*The background image and main imagae of the Webpage with its confugurations */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Places the box to the left */
.float-left {
    float: left;
    margin-right: 25px;
}
 /* Places the boxes to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* The section class content has the following features*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Used the #<name> for id since each has a unique value*/
/* Switched the order so the class "content" comes first before class "benefits"
so it makes the code more readable */

/* The box for the all the id's inside <di> on section of class "content" has the following features */
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The id's from the <di> in section class named content has the image at a max height */
#search-engine-optimization img {
    max-height: 200px;
}

#online-reputation-management img {
    max-height: 200px;
}

#social-media-marketing img {
    max-height: 200px;
}

/* The heading 2 for all sections of class content have a margin bottom and a font size */
#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing h2 {
    margin-bottom: 20px; 
    font-size: 36px;
}

/* All the benefits atributes have the following features */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*From section names benefit, inside <div> class benefit-lead has these features */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*From section names benefit, inside <div> class benefit-brand has these features  */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*From section names benefit, inside <div> class benefit-cost has these features  */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* The head 3 for all the 3 boxes are placed at a margin bottom in the center */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* The images for all 3 boxes in section of class benefits are hidden with a margin and has width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The last section of class named footer has some features */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
